{% extends "base.html" %}
{% load static %}

{% block title %} BiasGuage {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}">


  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    <h2>About Bias Guage</h2>
      <p><br/>
        <div class="text-center">
        {% load static %}
        <img src="{% static 'favicon2.PNG' %}" style="width: 220px; height:200px;"> </img> <br/>
      </div>
        Attempting to guage the relative bias of a news article through various metadata. <br/><br/>
        Using the links in an article to check the outside sourcing of the story and how their linked stories host sites relative bias. <br/><br/>
        Using Naive Bayas algorithim to judge the sentece around the links as either positive or negative. <br/><br/>
        Searching for articles on the same subject and the relative bias of all of the websites running the story <br/><br/>
        Biases of news sites gathered from AllSides.com <br/><br/>
        By<a href="https://www.instagram.com/erobertskyle/?hl=en" target="__blank" > Evan Roberts</a>
      </p>

    </div>
  </div>


{% endblock %}
