{% extends "base.html" %}

{% load static %}

{% block title %} BiasGuage {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">



      <center>
    <h3><a href="{{article.article_url}}"  target="_blank"  style="color: black; text-decoration: none;"> {{article.title}}</a></h3>

      <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="text-center">
                <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>

        {% if size != 0 %}

          <h4>Calculated Bias: {{article.calc_bias}}</h4>
          <h4 id="leaning" ></h4>

        {% else %}

          <h4>No links in article </h4>

        {% endif %}
      </center>

    </div>

  </div>
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-5  ">


      <div class="dropdown">
        <button class="btn btn-primary" type="button" id="button" >Similar Articles  </button>
        <ul class="dropdown-menu">
          {% for link in similar %}
            <li><a href="{{link.link_url}}" target="_blank">{{link.title}}</a></li>
          {% endfor %}
        </ul>
      </div>

      <button class="btn btn-primary" type="button" id="button2" >Article Links </button>
      <button class="btn btn-primary" type="button" id="button3" >Article Statistics </button>

    <br/>
    <br/>
    </div>
  </div>
      <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">


      <ul class="list-group" id="similar_links" style="display:none">

      {% for link in similar %}

        <li class="list-group-item" id="chores">

          <h5 id="indent" ><a href="{{link.link_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> {{link.title}} </a></h5>

        </li>
      {% endfor %}
      </ul>

      <ul class="list-group" id="stats" style="display:none">



        <li class="list-group-item" id="chores">


          <h4 style="text-align: center;" >{{ social_perc | floatformat:2 }}% of links in article link to social meida</h4>
          <h4 style="text-align: center;"> {{self_reference |floatformat:2 }}% of links are to original website</h4>
          <h4 style="text-align: center;">{{unknowns}} links to websites with unknown bias</h4>
          <h4 style="text-align: center;"> {{article.edu_links}} links to .edu sites </h4>
          <h4 style="text-align: center;"> {{article.gov_links}} links to .gov sites </h4>
        </li>

      </ul>





    <ul class="list-group" id="links" style="display:none">

    {% for link in links %}

      <li class="list-group-item" id="chores">

        <h5 id="indent" ><a href="{{link.link_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> {{link.title}} </a></h5>
        <p> All Sides Ranking: {{link}}</p>
        <div class="dropdown">
          <button type="button" class="btn btn-primary">SENTIMENT OF TEXT </button>
            <div class="dropdown-content">
              {{link.text}}
            </div>
          </div>

        <p id=:"right"> <h4 style="display:inline">&#128515;</h4> positive: {{link.positive}}% <h4 style="display:inline">&#128530;</h4> negative: {{link.negative}}% <h4 style="display:inline">&#128528;</h4> neutral: {{link.neutral}}%   <h4 style="display:inline"><a href="www.google.com">&nbsp;&nbsp;&#8505;</a></h4> </p>

      </li>
    {% endfor %}
    </ul>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script>
  $( "#button3" ).click(function() {
      var q = $('#similar_links');
      var q2 = $('#links');
      var vis2 = q2.is(':visible');
      var vis = q.is(':visible');
      if(vis === true){
        $( "#similar_links" ).toggle();
      }
      if(vis2 === true){
        $( "#links").toggle();
      }
      $( "#stats" ).toggle();

  });

  $( "#button2" ).click(function() {
      var q = $('#similar_links');
      var vis = q.is(':visible');
      var q2 = $('#stats');
      var vis2 = q2.is(':visible');
      if(vis === true){
        $( "#similar_links" ).toggle();
      }
      if(vis2 === true){
        $( "#stats").toggle();
      }
      $( "#links" ).toggle();

  });

  $( "#button" ).click(function() {
    var q = $('#links');
    var vis = q.is(':visible');
    var q2 = $('#stats');
    var vis2 = q2.is(':visible');
    if(vis === true){
      $( "#links" ).toggle();
    }
    if(vis2 === true){
      $( "#stats").toggle();
    }
    $( "#similar_links" ).toggle();
  });
  </script>


  <script>

  $(function () {
      var bias = {{article.calc_bias}};
      var con
      var lib
      var neu
      if(bias > 0)
      {
        if(bias < 0.5)
        {
          $("#leaning").html("<a href='https://www.allsides.com/bias/right-center' target='_blank'> 'leans right' </a>");
        }
        else {
          $("#leaning").html("<a href='https://www.allsides.com/bias/right' target='_blank'> 'right' </a>");

        }
        con = bias
        neu = 1 - bias
        lib = 0
      }
      else if (bias === 0)
      {
        $("#leaning").html("<a href='https://www.allsides.com/bias/center' target='_blank'>'center' </a>");
        neu = 1
        con = 0
        lib = 0
      }
      else
      {
        if(bias > -0.5)
        {
          $("#leaning").html("<a href='https://www.allsides.com/bias/left-center' target='_blank'> 'leans left' </a>");
        }
        else {
          $("#leaning").html("<a href='https://www.allsides.com/bias/left' target='_blank'> 'left' </a>");
        }
        bias = Math.abs(bias)
        lib = bias
        neu = 1 - bias
        con = 0
      }
      var data = [
      {
          value: con,
          color:"#E91D0E",
          highlight: "#E91D2E",
          label: "Conservative"
      },

      {
          value: lib,
          color: "#336699",
          highlight: "#336679",
          label: "Liberal"
      },
      {
          value: neu,
          color: "#faebd7",
          highlight: "#faebd7",
          label: "Neutral"
      },
      ]

      var option = {
      responsive: true,
      };

      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChart").getContext('2d');

      var myDoughnutChart = new Chart(ctx).Doughnut(data,option);});




  </script>
{% endblock %}
