{% extends "base.html" %}

{% load static %}

{% block title %} BiasGuage {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static "base.css" %}">

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">



      <center>
    <h3><a href="{{article.article_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> {{article.title}}</a></h3>


        {% if size != 0 %}

          <h4>Calculated Bias: {{article.calc_bias}}</h4>
          <h4>{{ social_perc | floatformat:2 }}% of links in article link to social meida</h4>
          <h4> {{self_reference |floatformat:2 }}% of links are to original website</h4>
          <h4>{{unknowns}} links to websites with unknown bias</h4>

        {% else %}

          <h4>No links in article </h4>

        {% endif %}
      </center>

    </div>

  </div>
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">


      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Similar Articles
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          {% for link in similar %}
            <li><a href="{{link.1}}" target="_blank">{{link.0}}</a></li>
          {% endfor %}
        </ul>
      </div>


    <ul class="list-group" >
      <h4> Links in Article: </h4>
    {% for link in links %}

      <li class="list-group-item" id="chores">

        <h5 id="indent" ><a href="{{link.link_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> {{link.title}} </a></h5>
        <p> All Sides Ranking: </p>
        <div class="dropdown">
          <button type="button" class="btn btn-primary">SENTIMENT OF TEXT </button>
            <div class="dropdown-content">
              {{link.text}}
            </div>
          </div>

        <p id=:"right">positive: {{link.positive}}% negative: {{link.negative}}% neutral: {{link.neutral}}% </p>

      </li>
    {% endfor %}
    </ul>
    </div>
  </div>


{% endblock %}
