{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} </title>

    {% block scripts %}

    {% load static %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% load static from staticfiles %}
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
  </head>

  <body>

    <nav class="navbar navbar-default">

    <ul class="nav navbar-nav">
      <li role="presentation"><a href="{% url 'index' %}">Home</a></li>

      {% if user.is_authenticated %}
      <li role="presentation"><a href="{% url 'history' %}" >Previously Searched Articles</a></li>
      {% endif %}
      <li role="presentation"><a href="{% url 'about' %}">About Bias Estimator</a></li>



    </ul>
    <ul  class="nav navbar-nav navbar-right" id="log">
      {% if user.is_authenticated %}

        <li><a >Hi {{request.user.username}}</a></li>
        <li ><a href="/logout/">Logout.....</a></li>

      {% else %}
        <li class="nav navbar-nav navbar-right"><a href="{% url 'login' %}">Log In.....</a></li>
      {% endif %}
    </ul>
    <div class="container-fluid">

    </div>
  </nav>



    {% block content %}{% endblock %}

  </body>
</html>
