{% extends "base.html" %}
{% load static %}

{% block title %} BiasGauge {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
{% if user.is_authenticated %}


  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      {% if size != 1 and size != 2 %}
      <h1 class="text-center"> Welcome to BiasGauge </h1>
      {% endif %}
      <form method="post" name="UrlForm" action="{% url 'index' %}">
        {% csrf_token %}
        <h4> enter url </h4>
          {{form.url}}
      </form>
      <div class="text-center">
        <h3><a href="{{link}}" style="color:white;"  target="_blank" ><u> {{title}}</u> </a></h3>
      </div>
    </div>
    <div class = "col-md-4">
    </div>
    <div class = "col-md-4">
      {% if post == True %}
        {% if size == 1 %}

        <div class="text-center">
          <h3>Calculated Bias: {{total_bias|floatformat:2}}%</h3>
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <canvas id="myChart"></canvas>
              <h4 id="leaning"></h4>
            </div>
          </div>
          <h4>{{ social_perc | floatformat:2 }}% of links in article link to social meida</h4>
          <h4> {{self_reference |floatformat:2 }}% of links are to original website</h4>
          <h4> {{edu}} links from .edu sites </h4>
          <h4> {{gov}} links from .gov sites </h4>
          <h4>{{unknowns}} links to websites with unknown bias</h4>
          <h4>{{total_links}} total links in article</h4>

        </div>
        {% elif size == 2 %}
          <h3> No web scraping information for this website. </h3>



        {% else %}

          <h3>No links in article </h3>


        {% endif %}
    </div>
          <br/>
        </div>
      <br/>
      <br/>
      <div class="row">
    <div class = "col-md-4"></div>
    <div class = "col-md-4">

          <p> information about calculated bias: -1 highly liberal, 0 nuetral, 1 higihly conservative
        average of all links in article with known bias taken to calculate bias </p>

    </div>
      </div>

      <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="text-center">


          </div>
        </div>
      </div>
      {% else %}
      <div class='row'>
        <br/>
        <div class='col-md-12'>
          <h4> To begin, enter the url of a news article from any of the top news sites. </h4>
          <h4>  We'll take a look at all the links in the article along with other heuristics to try and provide you with a context for figuring out the bias of that particular article.</h4>
          <h4> For a complete list of news sources we can scrape from, check out AllSides list of top newsites
            <a href="https://www.allsides.com/bias/bias-ratings?field_news_source_type_tid=2&field_news_bias_nid=1&field_featured_bias_rating_value=1&title=" style="color:blue;" target="_blank"> here</a>

          </h4>
        </div>
      </div>
      {% endif %}




{% else %}
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-3">
  <h3 class = "stats"> Must be logged in to run article </h3>

  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <a type="button" class="btn btn-primary" href="{% url 'login' %}">Log In</a>
  </div>
</div>
<div class="row">



{% endif %}




<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>

$(function () {
    var bias = {{total_bias}}
    var con
    var lib
    var neu
    if(bias > 0)
    {
      if(bias < 0.5)
      {
        $("#leaning").html("<a href='https://www.allsides.com/bias/right-center' target='_blank'> leans right </a>");
      }
      else {
        $("#leaning").html("<a href='https://www.allsides.com/bias/right' target='_blank'> right </a>");
      }
      con = bias
      neu = 100 - bias
      lib = 0
    }
    else if (bias === 0)
    {
      $("#leaning").html("<a href='https://www.allsides.com/bias/center' target='_blank'>center </a>");
      neu = 100
      con = 0
      lib = 0
    }
    else
    {
      if(bias > -0.5)
      {
        $("#leaning").html("<a href='https://www.allsides.com/bias/left-center' target='_blank'> leans left </a>");
      }
      else {
        $("#leaning").html("<a href='https://www.allsides.com/bias/left' target='_blank'>left </a>");
      }
      bias = Math.abs(bias)
      lib = bias
      neu = 100 - bias
      con = 0
    }
    var data = [
    {
        value: con,
        color:"#E91D0E",
        highlight: "#E91D2E",
        label: "Conservative"
    },
    {
        value: lib,
        color: "#336699",
        highlight: "#336679",
        label: "Liberal"
    },
    {
        value: neu,
        color: "gray",
        highlight: "gray",
        label: "Neutral"
    },
  ]

    var option = {
    responsive: true,
    };

    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext('2d');

    var myDoughnutChart = new Chart(ctx).Doughnut(data,option);});


</script>

{% endblock %}
