{% extends "base.html" %}
{% load static %}

{% block title %} BiasGuage {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
{% if user.is_authenticated %}


  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <form method="post" name="UrlForm" action="{% url 'index' %}">
        {% csrf_token %}
        <h4> enter url </h4>
          {{form.url}}
      </form>
    </div>
    <div class = "col-md-4">
    </div>
    <div class = "col-md-4">
      {% if post == True %}
        {% if size == 1 %}

          <h3>Calculated Bias: {{total_bias}}</h3>
          <h3>{{ social_perc | floatformat:2 }}% of links in article link to social meida</h3>
          <h3> {{self_reference |floatformat:2 }}% of links are to original website</h3>
          <h3>{{unknowns}} links to websites with unknown bias</h3>
          <h3>{{total_links}} total links in article</h3>


        {% elif size == 2 %}
          <h3> No web scraping information for this website. </h3>



        {% else %}

          <h3>No links in article </h3>


        {% endif %}
    </div>
          <br/>
        </div>
      <br/>
      <br/>
      <div class="row">
    <div class = "col-md-3"></div>
    <div class = "col-md-6">

          <p> information about calculated bias: -1 highly liberal, 0 nuetral, 1 higihly conservative
        average of all links in article with known bias taken to calculate bias </p>

    </div>
      </div>
      {% else %}
      <div class='row'>
        <br/>
        <div class='col-md-12'>
          <p> To begin, enter the url of a news article from any of the top news sites. </p>
          <p>  We'll take a look at all the links in the article along with other heuristics to try and provide you with a context for figuring out the bias of that particular article.</p>
          <p> For a complete list of news sources we can scrape from, check out AllSides list of top newsites
            <a href="https://www.allsides.com/bias/bias-ratings?field_news_source_type_tid=2&field_news_bias_nid=1&field_featured_bias_rating_value=1&title="  target="_blank"> here</a>

          </p>
        </div>
      </div>
      {% endif %}

      <div class="row">
      <div class="col-md-3"></div>
        <div class="col-md-6">
          {% load static %}
          <img src="{% static 'chart.JPG' %}" alt="My image" style="width:750px;height:170px;"/>
        </div>
      </div>


{% else %}
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-3">
  <h3 class = "stats"> Must be logged in to run article </h3>
  <a type="button" class="btn btn-primary" href="{% url 'login' %}">Log In</a>
</div>
</div>
<div class="row">


    {% load static %}
    <img src="{% static 'chart.JPG' %}" alt="My image" style="width:750px;height:170px;"/>

{% endif %}


{% endblock %}
