{% extends "base.html" %}
{% load static %}

{% block title %} BiasGauge {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="text-center">
    <h2> {{ user}}'s search statistics </h2>
    <h4> {{total_searched}} articles searched total </h4>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <button class="btn btn-primary" type="button" id="button1" >averages</button>
    <button class="btn btn-primary" type="button" id="button2" >trends</button>
    <button class="btn btn-primary" type="button" id="button3" >suggestions</button>

  </div>

</div>

<br/>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <ul class="list-group" id="averages" >
      <li class="list-group-item" id="chores">
        <h3 id="black" style="text-align: center;"> Averages </h3>
        <p id="black"  style="text-align: center;"> average bias of all searched articles {{average_bias|floatformat:2}} </p>
        <p id="black"  style="text-align: center;"> {{right_percent|floatformat:2}}% of articles searched lean right </p>
        <p id="black"  style="text-align: center;"> {{left_percent|floatformat:2}}% of articles searched lean left </p>
        <p id="black"  style="text-align: center;"> {{neutral_percent|floatformat:2}}% of articles searched are neutral </p>

      </li>
      <br/>
      <p style="text-align: center;" > Pie chart of articles searched and bias </p>
      <p style="text-align: center;" > neutral is a rank of 0, liberal < 0, conservative > 0</p>

    </ul>
      <canvas id="myChart"></canvas>
    <div  id="trends" style="display:none">

      <ul class="list-group">

        <li class="list-group-item" id="chores">
          <h3 id="black" style="text-align: center;"> Trends </h3>
          <p id="black"  style="text-align: center;"> Conservative leaning articles: {{right_amount}} </p>
          <p id="black"  style="text-align: center;"> Liberal leaning articles: {{left_amount}}</p>
          <p id="black"  style="text-align: center;"> 'Neurtral' articles: {{neutral_amount}}</p>
        </li>
        <br/>
        <p style="text-align: center;" > last ten searched articles </p>
      </ul>

    </div>



    <ul class="list-group" id="suggestions" style="display:none">
      <li class="list-group-item"  id="chores">


        <p id="suggestions_in"  style="text-align: center;"></p>
          </li>
        <li class="list-group-item" id="chores">
        <p id="black"> Here's a list of sites in our database with viewpoints on the other side: </p>

        {% for sug in suggestions %}
          <p id="black"  style="text-align: center;"><a href="http://www.google.com/search?q={{sug}}" target="__blank">{{sug}}</a>  </p>
        {% endfor %}
      </li>



    </ul>


    <canvas id="myLineChart"></canvas>

  </div>
</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>

var right = '{{right_percent}}';
var left = '{{left_percent}}';

$( "#button1" ).click(function() {
    var q = $('#trends');
    var q2 = $('#suggestions');
    var vis2 = q2.is(':visible');
    var vis = q.is(':visible');
    var chart = $('#myChart');
    var chart2 = chart.is(':visible');
    if(vis === true){
      $( "#trends" ).toggle();
        $( "#myLineChart").toggle();
    }
    if(vis2 === true){
      $( "#suggestions").toggle();
    }

    $( "#averages" ).toggle();
    $( "#myChart").toggle();

});

$( "#button2" ).click(function() {
    var q = $('#averages');
    var vis = q.is(':visible');
    var q2 = $('#suggestions');
    var vis2 = q2.is(':visible');
    if(vis === true){
      $( "#averages" ).toggle();
      $( "#myChart").toggle();
    }
    if(vis2 === true){
      $( "#suggestions").toggle();
    }
    $( "#trends" ).toggle();
    $( "#myLineChart").toggle();




});

$( "#button3" ).click(function() {
  var q = $('#averages');
  var vis = q.is(':visible');
  var q2 = $('#trends');
  var vis2 = q2.is(':visible');
  var chart = $('#myChart');
  var chart2 = chart.is(':visible');
  if(vis === true){
    $( "#averages" ).toggle();
    $( "#myChart").toggle();
  }
  if(vis2 === true){
    $( "#trends").toggle();
      $( "#myLineChart").toggle();
  }
  $( "#suggestions" ).toggle();


});

if(right > left) {
  $("#suggestions_in").html("<p id='black'>You tend to look at articles that lean to the right, {{user}}</p>");
}
else if(left > right) {
  $("#suggestions_in").html("<p id='black'>You tend to view stories that have a liberal bent to them, {{user}} </p>");
}
else {
  $("#suggestions_in").html("<p id='black'>The majority of the pages you view are neutral in the bias ranking, {{user}}, congratulations</p>");
}

$(function () {

  var data = [
      {
          value: '{{right_amount}}',
          color:"#E91D0E",
          highlight: "#E91D2E",
          label: "conservative"
      },
      {
          value: '{{left_amount}}',
          color: "#336699",
          highlight: "#336679",
          label: "liberal"
      },
      {
          value: '{{neutral_amount}}',
          color: "gray",
          highlight: "gray",
          label: "neutral"
      }
  ]
    var option = {
    responsive: true,
    };
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myChart").getContext('2d');
    var myPieChart = new Chart(ctx).Pie(data,option);});





    $(function () {
    var option = {
    responsive: true,
    };


    var data = {
    labels: [
            {% for i in most_recent %}
                "{{i.website|truncatechars:16}}",
            {% endfor %}
            ],
    datasets: [
        {
            label: "My First dataset",
            fillColor: "gray",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(220,220,220,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: [
              {%for i in most_recent %}
                {{i.calc_bias}},
              {% endfor %}
            ]
        },

    ]
};
    // Get the context of the canvas element we want to select
    var ctx = document.getElementById("myLineChart").getContext('2d');
    var myLineChart = new Chart(ctx).Line(data, option); //'Line' defines type of the chart.
    })
    $( "#myLineChart").toggle();


</script>
{% endblock %}
