{% extends "base.html" %}
{% load static %}

{% block title %} BiasGauge {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="text-center">
    <h2> {{ user}}'s search statistics </h2>
    <h4> {{total_searched}} articles searched total </h4>
  </div>

  </div>
</div>
<div class="row">
  <div class="col-md-5"></div>
  <div class="col-md-4">
    <button class="btn btn-primary" type="button" id="button1" >averages</button>
    <button class="btn btn-primary" type="button" id="button2" >trends</button>
    <button class="btn btn-primary" type="button" id="button3" >suggestions</button>

  </div>

</div>

<br/>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">

    <ul class="list-group" id="averages" >
      <li class="list-group-item" id="chores">
        <h3 id="black" style="text-align: center;"> Averages </h3>
        <p id="black"> {{right_percent|floatformat:2}}% of articles searched lean right </p>
        <p id="black"> {{left_percent|floatformat:2}}% of articles searched lean left </p>
        <p id="black"> {{neutral_percent|floatformat:2}}% of articles searched are neutral </p>

      </li>
    </ul>

    <ul class="list-group" id="trends" style="display:none">
      <li class="list-group-item" id="chores">

        <p id="black"> All Sides Ranking:2 {{link}}</p>
      </li>
    </ul>

    <ul class="list-group" id="suggestions" style="display:none">
      <li class="list-group-item" id="chores">

        <p id="black"> All Sides Ranking:3 {{link}}</p>
        <p id="suggestions_in" ></p>
        {% for sug in suggestions %}
          <p id="black"> {{sug}} </p>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
var right = {{right_percent}}
var left = {{left_percent}}
$( "#button1" ).click(function() {
    var q = $('#trends');
    var q2 = $('#suggestions');
    var vis2 = q2.is(':visible');
    var vis = q.is(':visible');
    if(vis === true){
      $( "#trends" ).toggle();
    }
    if(vis2 === true){
      $( "#suggestions").toggle();
    }
    $( "#averages" ).toggle();

});

$( "#button2" ).click(function() {
    var q = $('#averages');
    var vis = q.is(':visible');
    var q2 = $('#suggestions');
    var vis2 = q2.is(':visible');
    if(vis === true){
      $( "#averages" ).toggle();
    }
    if(vis2 === true){
      $( "#suggestions").toggle();
    }
    $( "#trends" ).toggle();

});

$( "#button3" ).click(function() {
  var q = $('#averages');
  var vis = q.is(':visible');
  var q2 = $('#trends');
  var vis2 = q2.is(':visible');
  if(vis === true){
    $( "#averages" ).toggle();
  }
  if(vis2 === true){
    $( "#trends").toggle();
  }
  $( "#suggestions" ).toggle();
});

if(right > left) {
  $("#suggestions_in").html("<p id='black'>You're a Republican prick, {{user}}</p>");
}
else if(left > right) {
  $("#suggestions_in").html("<p id='black'>You're a bleading heart Lib, {{user}} </p>");
}
else {
  $("#suggestions_in").html("<p id='black'>You are comlety unbiased,{{user}}, congratulations</p>");
}




</script>
{% endblock %}
