{% extends "base.html" %}
{% load static %}

{% block title %} BiasGuage {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-2">
    <form  action="{% url 'stats' %}"  method="get">
        <label for="featured" style="color:white;">Pick Website</label>
        <select class="form-control" name="featured">
            {% for uni in unique %}
              <option   name="featured" value={{uni}} />{{ uni }} </option>


            {% endfor %}
            <select>

        <input class="form-control" id="right"  type="submit"  />

  </form>
  </div>
</div>
<!--------------------------------------------------------------->



<!--------------------------------------------------------------->

{% if articles %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3 class="stats"> {{website }} </h3>
    <p class="stats"> AllSides.com Bias of this website: {{bias}} </p>
    <p class="stats" > average bias: {{average_bias |floatformat:5 }} </p>
    <p class="stats" > average number of links per article: {{average_links |floatformat:5}} </p>

   <li class="list-group-item" id="chores">
      {% for item in articles %}

        <div class="clearfix">
        <h4><a href="{% url 'article' item.id %}" style="color: #60707c; text-decoration: none;">{{item.title}}  </a> </h4>

                <p> <a href="{{item.article_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> link to article </a></p>

        </div>

      {% endfor %}
    </li>
  </div>
</div>

{% else %}

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-5">

<div id="message">
    <h4> This page is for viewing all of the articles from a specific website in our database</h4>
    <h4> You pick a specific newsource and we'll give you information about it's relative bias, average links, and other cool stats to help you learn about the bias in the world </h4>
</div>
</div>
</div>

{% endif %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script>

function myFunction() {
    //  var article1 = articles1;
    console.dir("{{articles}}");
    //document.getElementById("chores").innerHTML = "Hello World";
  //  for(var i = 0; i < article1.length; i++) {
        // Create the list item:
        var item = document.createElement('div');
        var link1 = document.createElement('h4');
        var link2 = document.createElement('p');
        var a_in = document.createElement('a');
      //  a_in.setAttribute('href', "{\% 'article' " + article1[0] + "\%}");
        a_in.innerHTML = "link to article";
        link1.appendChild(a_in);
        link2.appendChild(document.createElement('a')/*.setAttribute('href', article1[i].article_url)*/);
        item.className = "clearfix";
        item.appendChild(link1);
        item.appendChild(link2);
        // Set its contents:
        document.getElementById("chores").appendChild(item);
        console.log("REACHED HERE BITCH");

        // Add it to the list:
        //list.appendChild(item);
  //  }

}

function leaveChange() {
  if (document.getElementById("leave").value != "100"){
      document.getElementById("message").innerHTML = "Common message";
  }
  else{
      document.getElementById("message").innerHTML = "Having a Baby!!";
  }
}
</script>
{% endblock %}
