{% extends "base.html" %}
{% load static %}

{% block title %} BiasGuage {% endblock %}


{% block content %}

{% load static from staticfiles %}
<link href="{% static 'base.css' %}" rel="stylesheet"  type="text/css">

<div class="row" >
  <div class="col-md-5"></div>
  <div class="col-md-3">
    <h4 style="width:400px;"  > pick website </h4>
    <form  action="{% url 'stats' %}" style="display: flex; "  method="get">

        <select class="form-control" style="width:100%;" name="featured">
            {% for uni in unique %}
              <option   name="featured" value={{uni}} />{{ uni }} </option>


            {% endfor %}
            <select>

        <input class="form-control" id="right"  style="display: inline-block;" type="submit"  />

  </form>
  </div>
</div>
<!--------------------------------------------------------------->



<!--------------------------------------------------------------->

{% if articles %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h3 class="stats"> {{website }} </h3>
<!--------------------------------------------------------------->

  <div class="row">
          <div class="col-md-2"> </div>
              <div class="col-md-4">
                <div class="text-center">
                  <p class="stats"> AllSides.com Ranking: {{bias}} </p>

                    <canvas id="myChart2"></canvas>

              </div>
            </div>

              <div class="col-md-4">
                <p class="stats" > Average Calc Bias: {{average_bias |floatformat:5 }} </p>

                <div class="text-center">
                    <canvas id="myChart"></canvas>
              </div>
            </div>
    </div>



      <!--------------------------------------------------------------->
      <br/>
    <p class="stats" > average number of links per article: {{average_links |floatformat:5}} </p>

   <li class="list-group-item" id="chores">
      {% for item in articles %}

        <div class="clearfix">
        <h4><a href="{% url 'article' item.id %}" style="color: #60707c; text-decoration: none;">{{item.title}}  </a> </h4>

                <p> <a href="{{item.article_url}}"  target="_blank"  style="color: #60707c; text-decoration: none;"> link to article </a></p>

        </div>

      {% endfor %}
    </li>
  </div>
</div>

{% else %}

<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-5">

<div id="message">
    <h4> This page is for viewing all of the articles from a specific website in our database</h4>
    <h4> You pick a specific newsource and we'll give you information about it's relative bias, average links, and other cool stats to help you learn about the bias in the world </h4>
</div>
</div>
</div>

{% endif %}

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script>

  $(function () {
      var bias = {{average_bias}}
      var o_bias = {{bias}}
      var con, o_con
      var lib, o_lib
      var neu, o_neu
      if(bias > 0)
      {
        con = bias
        neu = 1 - bias
        lib = 0
      }
      else if (bias === 0)
      {
        neu = 1
        con = 0
        lib = 0
      }
      else
      {
        bias = Math.abs(bias)
        lib = bias
        neu = 1 - bias
        con = 0
      }
      if(o_bias > 0)
      {
        o_con = o_bias
        o_neu = 1 - o_bias
        o_lib = 0
      }
      else if (o_bias === 0)
      {
        o_neu = 1
        o_con = 0
        o_lib = 0
      }
      else
      {
        o_bias = Math.abs(o_bias)
        o_lib = o_bias
        o_neu = 1 - o_bias
        o_con = 0
      }
      var data = [
      {
          value: con,
          color:"#E91D0E",
          highlight: "#E91D2E",
          label: "Conservative"
      },

      {
          value: lib,
          color: "#336699",
          highlight: "#336679",
          label: "Liberal"
      },
      {
          value: neu,
          color: "gray",
          highlight: "gray",
          label: "Neutral"
      },
      ]

      var data2 = [
      {
          value: o_con,
          color:"#E91D0E",
          highlight: "#E91D2E",
          label: "Conservative"
      },

      {
          value: o_lib,
          color: "#336699",
          highlight: "#336679",
          label: "Liberal"
      },
      {
          value: o_neu,
          color: "gray",
          highlight: "gray",
          label: "Neutral"
      },
      ]

      var option = {
      responsive: true,
      };

      // Get the context of the canvas element we want to select
      var ctx = document.getElementById("myChart").getContext('2d');
      var ctx2 = document.getElementById("myChart2").getContext('2d');
      var myDoughnutChart2 = new Chart(ctx2).Doughnut(data2,option);
      var myDoughnutChart = new Chart(ctx).Doughnut(data,option);});




  </script>
{% endblock %}
